<form method="GET" action="/search">
    <label for="search">Search for a GIF</label>
    <input type="text" id="search" name="name" placeholder="Please enter a search term." required="required">
    <input type="submit" value="Search now!">
</form>